@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    /* background: dodgerblue linear-gradient(45deg, #D3D3D3, #BCC6CC, #98AFC7) fixed; */
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: aliceblue;
}
.About{
    background-color: var(--light);
    border-radius: 20px;
    box-shadow: 0px 10px 20px var(--corn-flower-blue)0 6px 6px var(--corn-flower-blue);
    padding: 50px 40px;
    max-width: 100%;
    width: 600px;
    text-align: center;
    margin: auto;
}